
<h1>Articles from the Onion</h1>



<ul>
  {{#each articles}}
  <h3>{{headline}}</h3>
  <p>{{excerpt}}</p>
  <button onclick="modalOpen()">ARTICLE NOTES</button>
  <button>DELETE FROM SAVED</button>

  <div class="modal {{_id}}" id="simpleModal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="closeBtn" id="closeBtn">&times;</span>
        <h2>Notes For Article: {{_id}}</h2>
      </div>
      <div class="modal-body">
        <p>{{friendName}}</p>
<textarea Name="content" ROWS="6" COLS="40"></textarea>
      </div>
      <div class="modal-footer">
        <button>SAVE NOTE</button>
      </div>
    </div>
  </div>

  <hr>
  {{/each}}
</ul>
<script>
  let modal = document.getElementById('simpleModal');
  let closeBtn = document.getElementById('closeBtn');

  closeBtn.addEventListener('click', closeModal);
  window.addEventListener('click', outsideClick);

  modalOpen = () => {
    modal.style.display = 'block';
  }
  function closeModal() {
    modal.style.display = 'none';
  }
  function outsideClick(e) {
    if (e.target == modal)
      modal.style.display = 'none';
  }

</script>
<style>
  
  textarea
{
  border:1px solid #999999;
  width:100%;
  margin:5px 0;
  padding:3px;
}

  ul {
    list-style: none;
    padding-left: 0;
  }

  ​ li {
    list-style: none;
  }

  .form-control {
    width: 25%;
  }

  .btn {
    width: 20%;
  }

  .button {
    background: rgb(72, 185, 211);
    padding: 1em 2em;
    color: #fff;
    border: 0;
  }

  .button:hover {
    background: #333;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .3);
  }

  .modal-content {
    background-color: #f4f4f4;
    margin: 30% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.4);
    animation-name: modalopen;
    animation-duration: 1s;
  }

  .modal-header {
    background: rgb(72, 185, 211);
    padding: 15px;
    color: white;
  }

  .modal-header h2,
  .modal-footer h3 {
    margin: 0;
  }

  .modal-body {
    padding: 10px 20px;
  }

  .modal-footer {
    background: rgb(72, 185, 211);
    padding: 10px;
    color: white;
    text-align: center;
  }

  .closeBtn {
    color: white;
    float: right;
    font-size: 30px;
  }

  .closeBtn:hover,
  .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  @keyframes modalopen {
    from {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }
</style>